html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  width: 1200px;
  margin: auto;
  
}

link {
  text-decoration: none;
}
#main {
  width: 100%;
  display: flex;
}

#leftcol{
  width: 200px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  border-left: lightgray solid 1px;
  border-left: lightgray solid 1px;
}

.small-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 5px;
}

#search {
  width: 150px;
  height: 30px;
  margin-top: 5px;
  font-size: 15px;

}

#cl-link {
  font-size: 25px;
  
}

#centercol{
  width: 800px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

}

#categories {
  display: flex;
  padding: 10px;
  align-content: center;
  border: lightgray solid 1px;
  margin-top: 15px;
  background: #f4f4f4;

}

#leftcat {
 
  padding: 10px;
  width: 275px;
  align-content: center;
 
}

#centercat {
  padding: 10px;
  width: 275px;
  align-content: center;
}

#rightcat {
  padding: 10px;
  width: 200px;
  align-content: center;
}

#city{
  width: 100%;
  height: 60px;
  line-height: 10px;
 
  text-align: center;
  border-top: lightgray solid 1px;
  border-bottom: lightgray solid 1px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  background: #f4f4f4;
 
  
  
}

#rightcol{
  width: 100px;
  background: #f4f4f4;
  margin: 15px;
  border-left: lightgray solid 1px;
  border-right: lightgray solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#rightcol p {
  font-size: 12px;
}

#nearby {
  font-size: 6px;
  background: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-top: lightgray solid 1px;
  border-bottom: lightgray solid 1px;

}

#cities p{
  text-align: center;
  margin-top: 0px;
  padding: 0px;
 

}
select {
  width: 70px;
  
  font-size: 12px;
  margin-top: 10px;
}

#regions p{
  text-align: center;
  border-bottom: lightgray solid 1px;

}

.cat-toprow {
  display: flex;
  

}

.cat-toprow select {
  width: 70px;
  
  font-size: 12px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}
